/*//////////////////////////////////////////////////////////////////////////////
//
//  THIS CODE IS NOT APPROVED FOR USE IN/ON ANY OTHER UI ELEMENT OR PRODUCT COMPONENT.  
//  Copyright (c) 2006 Microsoft Corporation.  All rights reserved.
//
//////////////////////////////////////////////////////////////////////////////*/

body 
{
  width:300px; 
  height:240px; 
  font-family: Malgun Gothic, Gulim, Segoe UI, Tahoma;
  font-size:12px;
  padding:0;
  margin:0;
  table-layout:fixed;
}

label, input, button, fieldset 
{ 
  font-family: Malgun Gothic, Gulim, Segoe UI, Tahoma;
  font-size:12px;
  cursor:default; 
}

#SettingsWeather 
{
  padding: 0px 10px 10px 10px;
  width:100%;
}

#PlaceInputArea 
{
  width: 300px;
  padding-top: 3px;
  cursor:text;
}

#PlaceCurrent 
{
  position:absolute;
  top: 18px;
  width:100%;
  cursor:default;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-weight:normal;
}

#textBoxBackground, #txtInputPlace, #btnSearchForPlace 
{
  position:absolute;
}

#textBoxBackground 
{
  top:40px;
  width:240px;
  height:24px;
  margin-left:0px;
  background:url(../images/search_background.png) no-repeat;
  z-index:11;
}

#txtInputPlace 
{
  top:42px;
  width:209px;
  height:20px;
  cursor:text;
  overflow:hidden;
  font-family:Malgun Gothic, Gulim, Segoe UI, Tahoma;
  font-size:13px;
  padding:0;
  margin:0;
  padding-left:5px;
  padding-top:1px;
  position:absolute;
  border:none;
  z-index:12;
  padding-right:25px;
  background-position:left;
  margin-left:3px;
}

.BIDI #txtInputPlace 
{
  padding-left:25px;
  padding-right:5px;
  margin:0;
  margin-right:3px;
}

#btnSearchForPlace 
{
  position:absolute;
  top:42px;
  left:213px;
  width:25px; 
  height:20px; 
  z-index:13;
  cursor:default;
}

.BIDI #btnSearchForPlace 
{
  right:213px;
}

.btnSearch
{ 
  background:url(../images/btn_search_up.png) no-repeat; 
}

.btnSearchInsertionPoint	
{ 
  background:url(../images/btn_search_up.png) no-repeat; 
}

.btnSearchOver				
{ 
  background:url(../images/btn_search_over.png) no-repeat; 
}

.btnSearchDown				
{ 
  background:url(../images/btn_search_down.png) no-repeat; 
}

.btnClear						
{ 
  background:url(../images/btn_close_up.png) no-repeat; 
}

.btnClearInsertionPoint	
{ 
  background:url(../images/btn_close_up.png) no-repeat; 
}

.btnClearOver					
{ 
  background:url(../images/btn_close_over.png) no-repeat; 
}

.btnClearDown					
{ 
  background:url(../images/btn_close_down.png) no-repeat; 
}

.BIDI .btnSearch						
{ 
  background:url(../images/btn_search_up_BIDI.png) no-repeat; 
}

.BIDI .btnSearchInsertionPoint	
{ 
  background:url(../images/btn_search_up_BIDI.png) no-repeat; 
}

.BIDI .btnSearchOver				
{ 
  background:url(../images/btn_search_over_BIDI.png) no-repeat; 
}

.BIDI .btnSearchDown				
{ 
  background:url(../images/btn_search_down_BIDI.png) no-repeat; 
}

.BIDI .btnClearDown 
{ 
  background:url(../images/btn_close_down_BIDI.png) no-repeat; 
}

.TextInputInactiveDefaultText
{ 
	color:Gray; 
	font-style:italic;
}

.TextInputInactive 
{ 
  color:Gray;   
}

.TextInputActiveDefaultText   
{ 
  color:Black; 
  font-style:italic;
}

.TextInputActive   
{ 
  color:Black; 
}

#spinner 
{
  margin-right:5px;
}

#PlacePossibilities 
{
  position:absolute;
  top: 63px;
  height: 20px;
/*  width:238px; */
max-width: 300px;
  display:none;
  background-color:white;
  z-index: 10;
}

#PleaseWaitLoadingSpinner 
{
  position:absolute;
  top: 67px;
  left:5px;
  height: 20px;
  width:238px;
  z-index:11;
}

.BIDI #PleaseWaitLoadingSpinner 
{
  right:5px;
}

.border 
{
  border: solid 1px black;
  padding: 3px 3px 3px 3px;
}

#selectPlace 
{
  width:100%;
  border: solid 10px black;
}

.SettingsTitle 
{
  font-size: 12px;
}

.SettingsString 
{
  font-weight: bold;
}

#DisplayDegreesRadioSet 
{
  /* padding: 10px 10px 5px 10px */
  width:100%;
}

#DisplayDegreesRadioSetDiv 
{
  position:absolute;
  top:80px;
  width:100%;
  height:100px;
}

#DisplaySizeRadioSet 
{
  width:100%;
}

#DisplaySizeRadioSetDiv 
{
  position:absolute;
  top:162px;
  width:100%;
  height:80px;
}
